@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #F8F8F8;
  --gray: #62687E;
  --green: #54B192;
  --dark-green: #26634f;
  --light-green: #EAEEED;
  --text-color: #3A3A47;
  --white: #FFFF;
  --linkedin-color: #007BB5;
  --github-color: #14232C;
  --frontendmentor-color: #3F54A3;
  --gmail-color: #C71610;
  --html-color: #E34C26;
  --css-color: #264DE4;
  --js-color: #F0DB4F;
  --bootstrap-color: #563D7C;
  --jquery-color: #0769AD;
  --django-color: #092E20;
  --react-color: #04D8F9;
  --tailwind-color: #0F9EE1;
  --svelte-color: #FF4E00;
  --typescript-color: #3178C6;
  --nextjs-color: #000000;
  --redux-color: #764abc;
  --swr-color: #323232;
  --shadcn-color: #000000;
  --vite-color: #9170c7;
  --figma-color: #a800f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

svg{
  display: inline;
}

body{
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.65rem;
  background-color: var(--background-color);
  color: var(--text-color);
  /* letter-spacing: 0.015rem; */
}

#root{
  max-width: 100vw;
  overflow: hidden;
}

h1{
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 600;
}

.img-profile{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid var(--background-color);
}

.img-profile:hover{
  border: 3px solid var(--green);
}

.social-icon{
  font-size: 20px;
}

.social-icon.linkedin:hover{
  color: var(--linkedin-color);
}

.social-icon.github:hover{
  color: var(--github-color);
}

.social-icon.frontendmentor:hover{
  color: var(--frontendmentor-color);
}

.social-icon.gmail:hover{
  color: var(--gmail-color);
}

.tooltip{
  position: relative;
}

.tooltip .tooltip-text{
  visibility: hidden;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: var(--text-color);
  color: var(--white);
  width: max-content;
}

.tooltip:has(.img-profile) .tooltip-text{
  bottom: -50%;
}

.tooltip:hover .tooltip-text{
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltip-text svg{
  display: inline;
  margin-right: 4px;
}

.tool-icon,
.tool-icon-hover:hover{
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: .25rem;
  color: #000;
  font-weight: 500;
  white-space: nowrap;
}

.tool-icon{
  padding: 3px 4px;
  margin-inline: 3px;
  font-size: .95rem;
}

.tool-icon-hover{
  padding: 0px 6px;
  margin-inline: 0px;
  border: 1px solid transparent;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.tool-icon-hover:hover{
  /* scale: 1.08; */
  transform: translateY(-3px);
}

.tool-icon svg,
.tool-icon-hover svg{
  margin-bottom: 2px;
}

.tool-icon.html svg,
.tool-icon-hover:hover.html svg{
  color: var(--html-color);
}

.tool-icon.css svg,
.tool-icon-hover:hover.css svg{
  color: var(--css-color);
}

.tool-icon.javascript svg,
.tool-icon-hover:hover.javascript svg{
  color: var(--js-color);
}

.tool-icon.bootstrap svg,
.tool-icon-hover:hover.bootstrap svg{
  color: var(--bootstrap-color);
}

.tool-icon.jquery svg,
.tool-icon-hover:hover.jquery svg{
  color: var(--jquery-color);
}

.tool-icon.django svg,
.tool-icon-hover:hover.django svg{
  color: var(--django-color);
}

.tool-icon.react svg,
.tool-icon-hover:hover.react svg{
  color: var(--react-color);
}

.tool-icon.tailwind svg,
.tool-icon-hover:hover.tailwind svg{
  color: var(--tailwind-color);
}

.tool-icon.svelte svg,
.tool-icon-hover:hover.svelte svg{
  color: var(--svelte-color);
}

.tool-icon.typescript svg,
.tool-icon-hover:hover.typescript svg{
  color: var(--typescript-color);
}

.tool-icon.nextjs svg,
.tool-icon-hover:hover.nextjs svg{
  color: var(--nextjs-color);
}

.tool-icon.redux svg,
.tool-icon-hover:hover.redux svg{
  color: var(--redux-color);
}

.tool-icon.swr svg,
.tool-icon-hover:hover.swr svg{
  color: var(--swr-color);
}

.tool-icon.shadcn svg,
.tool-icon-hover:hover.shadcn svg{
  color: var(--shadcn-color);
}

.tool-icon.vite svg,
.tool-icon-hover:hover.vite svg{
  color: var(--vite-color);
}

.tool-icon.figma svg,
.tool-icon-hover:hover.figma svg{
  color: var(--figma-color);
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 300px));
  column-gap: 3rem;
  row-gap: 24px;
  justify-content: center;
  grid-auto-rows: 12px;
}

.project-wrapper{
  width: 300px;
}

.grid-row-xs{
  grid-row-end: span 12;
}

.grid-row-sm{
  grid-row-end: span 13;
}

.grid-row-md{
  grid-row-end: span 14;
}

.grid-row-lg{
  grid-row-end: span 15;
}

.grid-row-xl{
  grid-row-end: span 16;
}

.tools-icon svg{
  transform: translateY(-1px);
}

.btn-hover-underline{
  display: inline;
  position: relative;
}

.btn-hover-underline::after{
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #334155a1;;
  left: 0;
  right: 100%;
  bottom: -3px;
  height: 1px;
  transition: right .3s ease-in-out;
}

.btn-hover-underline:hover::after{
  right: 0;
}

.btn-visit-site svg{
  font-size: .75rem;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, minmax(0, 400px));
    justify-content: space-between;
  }

  .project-wrapper{
    width: 400px;
  }
}


